body,html, #root{
  height: 100vh;
}

.App {
  text-align: center;
  height:100%;
}

#dash{
  background-color: rgb(242, 242, 242);
}

#sidebar{
height: 100vh;
}

#info-card{
  height: 12rem;
}

#dash2{
  height: 23rem;
}

#barimg{
  height: 300px;
  padding-left: 40px;
}

#pieimg{
height: 300px;
width: 300px;
}

#customimg{
  height: 30px;
  width: auto;
  border-radius: 100%;
}

#profile{
  height: fit-content;
  width: auto ;
  border-radius: 100%;
}

#profileDesignation{
  text-align: start !important;
  padding-left: 0;
}

#profileTitle{
  text-align: start !important;
  padding-left: 0;
}

#profile{
  margin-top: 20rem;
}

#dashOptions{
  margin-top: 12rem !important;
}

#sidebar{
  background-color: rgb(21, 7, 112);
}

.listing{
  background-color: rgb(21, 7, 112) !important;
  border-style:none !important;

}